# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# txt files:
*.txt

# npz files:
*.npz

# Figures:
*.png
*.jpg
*.jpeg
Figures/

# Sphinx documentation
docs/_build/
